<div class="accordeon">
<ul>
<li>
<p class="titre">Menu 1</p>
<div>
Votre contenu textuel...
</div>
</li>
<li>
<p class="titre">Menu 2</p>
<div>
Votre contenu textuel...
</div>
</li>
<li>
<p class="titre">Menu 3</p>
<div>
Votre contenu textuel...
</div>
</li>
<li>
<p class="titre">Menu 4</p>
<div>
Votre contenu textuel...
</div>
</li>
</ul>
</div>
