
      <link rel="stylesheet" href="style.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
      <input type="checkbox" id="active-navbar">
      <label for="active-navbar" class="menu-btn"><i class="fas fa-bars"></i></label>
      <div class="wrapper-navbar">
         <ul>
            <li><a href="/">Home</a></li>
            <li><a href="educations#index">Educations</a></li>
            <li><a href="curriculum#index">Curriculum</a></li>
         </ul>
      </div>
        <%# <div class="content-navbar">
         <div class="title">
            blabla
         </div>
         <p>
            using only HTML & CSS
         </p>
      </div> %>
   </body>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
