<%# <script src="transition.js"></script>
<%# ////////////// LOADER/////////// %>

 <%# <div class="transition transition-1 is-active "></div>
  <div class="page">
    <div class="web-navbar">
      <nav>

        <ul class="menu">
          <li class="menu-item is-active"><a href="#">Home</a></li>
          <li class="menu-item "><a href="educations#index">Education</a></li>
          <li class="menu-item"><a href="/services.html">Services</a></li>
          <li class="menu-item"><a href="#">Contact</a></li>
        </ul>
    </div>  %>

<%# ////////////// LOADER/////////// %>
  <%# <span class="hero__scroll">
    <i class="chevron bottom"></i>
  </span> %>
<%#
 <div class="container-home"> %>

  <%# <div class=" row justify-content-center col-12"> %>
    <div class="container-home1" id="Home">

      <div><h2>Bonjour, Je m'appelle <span> Thibault Fitte-Duval</span></h2>
            <h2> Je suis en recherche d'alternance </h2>

              <div class="container-btn ">

                 <a href="educations#index" id="neon-button-text"><span>En savoir plus</span></a>
               </div>

               <span class="hero__scroll">
              <a href="educations#index"><i class="chevron bottom"></i> </a>


            	</span>
        </div>
     </div>
