<%#
 <div class="container-curriculum">
  <div class=" row justify-content-center col-6">
    <%= image_tag 'CV_TFD_Alternance.png', class: "CV-img"%>
  <%# </div>
</div>

<div class="container-btn-cv">
  <div class=" row justify-content-center col-12">
    <button class="btn"> <a href="CV_TFD_Alternance.pdf" download="CV_TFD" id="font-cv">Télécharger le CV en version PDF </a></button>
  </div>
</div>  %>


<%# <div class="container-curriculum">
  <div class="row">

    <div class="col-12 col-lg-8">
     <%= image_tag 'CV_TFD_Alternance.png', class: "CV-img"%>
    <%# </div>

    <div class="col-12 col-lg-4">
    <button class="btn"> <a href="CV_TFD_Alternance.pdf" download="CV_TFD" id="font-cv">Télécharger le CV en version PDF </a></button>

    </div>  %>


<a href="educations#index"> <span class="hero__scroll_left">
              <i class="chevron bottom_left"></i>
            	</span>   </a>


<div class="container-curriculum">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-8">
      <%= image_tag 'CV_TFD_Alternance.png', class: "CV-img"%>
      <button class="btn"> <a href="CV_TFD_Alternance.pdf" download="CV_TFD" id="font-cv">Télécharger le CV en version PDF </a></button>

    </div>
  </div>
</div>
