

<a href="educations#index"> <span class="hero__scroll_left">
              <i class="chevron bottom_left"></i>
            	</span>   </a>


<div class="container-curriculum">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-8">
      <%= image_tag 'CV_TFD.png', class: "CV-img"%>
      <button class="btn"> <a href='https://drive.google.com/file/d/1X1oBYa5hja8svPgaz4P8xe8ZhX-l3uTu/view?usp=sharing' download='CV_TFD.png' id="font-cv">  Télécharger le CV en version PDF  </a></button>

    </div>
  </div>
</div>
