<%# <script src="transition.js"></script> %>
<%# ////////////// LOADER/////////// %>

 <%# <div class="transition transition-3 is-active "></div> %>
  <%# <div class="page">
    <div class="web-navbar">
      <nav>

        <ul class="menu">
          <li class="menu-item is-active"><a href="#">Home</a></li>
          <li class="menu-item "><a href="educations#index">Education</a></li>
          <li class="menu-item"><a href="/services.html">Services</a></li>
          <li class="menu-item"><a href="#">Contact</a></li>
        </ul>
    </div> %>
<a href="curriculum#index">  <span class="hero__scroll">
              <i class="chevron bottom"></i>
            	</span></a>

<a href="/"> <span class="hero__scroll_left">
              <i class="chevron bottom_left"></i>
            	</span>   </a>
<%# ---------------- %>
  </a>

<div class="timeline">
    <h1 class="heading">Educations & Experiences</h1>
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">Juillet 2021 - Mars 2021</h1>
            <p class="card-detail">Formation Full-Stack Developpeur, Le Wagon Bordeaux | freelance</p>
            <ul>Programmations Ruby on Rails, Html, Css , Bootstrap</ul>
            <ul>Base de données type SQL </ul>
            <ul>Travail d'équipe </ul>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
             <h1 class="card-title">Novembre 2020 - Juillet 2021</h1>
            <p class="card-detail">Création Projet digital| Arc Sud Développement Villenave-d'Ornon </p>
            <ul>Création du Business Plan, Personna, Design de l'application </ul>
            <ul>Interraction avec les futurs utilisateurs potentielles pour une approche quantitatives et qualitatives </ul>
            <ul>Travail d'équipe </ul>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h1 class="card-title">Aout 2020 - Novembre 2020</h1>
            <p class="card-detail">E-Commerce | Boutique de produit dérivées de l'univers manga </p>
            <ul>Contacter les influenceurs pour la promotion du commerce</ul>
            <ul>Veille numérique </ul>
            <ul> Création de contenue  pour alimenter la page Instagram ( montage Photo et Vidéo)</ul>
            <ul>SAV pour les consommateurs </ul>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h1 class="card-title">Septembre 2019 - Juin 2020 </h1>
             <p class="card-detail">Licence 3 Géographie De l'Environnement et de l'Aménagement| Université Bordeaux - Montaigne </p>
            <ul>Analyse de Terrain</ul>
            <ul>Outils des systèmes d'informations géographique </ul>

        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h1 class="card-title">Septembre 2017 - Juin 2019 </h1>
            <p class="card-detail">Hypokhâgne | Khâgne Lycée Saint-Exupéry Mantes-La Jolie   </p>
            <ul>Adaptation</ul>
            <ul>Organisation</ul>
            <ul>Communication orale et écrite </ul>
        </div>
    </div>
      <a href="curriculum#index" id="neon-button-text"><span>Telecharger le CV</span></a>
               </div>
</div>
